{% extends 'posts/8chan_base.html' %}
{% load filters %}
{% block content %}
    {% if posts %}
        <h2 style="padding: 16px"><a href="/{{ posts.0.platform }}">{{ posts.0.platform }}</a> &gt; <a
                href="/{{ posts.0.platform }}/{{ posts.0.board }}">{{ posts.0.board }}</a></h2>
        {% for post in posts %}
            <article id="{{ post.post_id }}"
                     style="margin: 0 5px 3px 16px; display: block;font-family: arial, helvetica, sans-serif">
                <div style="display: table-cell;
                            padding: 4px 4px 10px 10px;
                            background: rgb(214, 218, 240);
                            border-bottom: 1px solid #ccc;">
                    <header style="text-align:left;clear:none;display:block;line-height:1.16em;font-size:13px;min-height:1.16em;margin: 0px; padding: 6px 0px 0.4em;">
                        <div style="padding: 0 6px 0 0;">
                            <span style="color:rgb(52, 52, 92);width:15px;text-align:center;font-size:10pt;opacity:0.8;text-decoration:none;display:inline-block;margin: -6px 0px 0px -5px; ">▶</span>
                            <span style="font-weight: 700; color: #117743;">{{ post.author }}</span>
                            {% if post.tripcode %}
                                <span class="trip">{{ post.tripcode }}</span>
                            {% endif %}
                            <span style="font-weight: 700; color: {{ post.poster_hash }};">ID: {{ post.poster_hash }}</span>
                            <span>{{ post.subject }}</span>
                            <span>{{ post.timestamp }}</span>
                            <span><a href="#{{ post.post_id }}">No.{{ post.post_id }}</a></span>
                            &nbsp;
                            <span><a href="{{ post.get_archive_url }}" style="text-decoration: none">🗄️.is</a></span>
                            {% if post.platform == '8kun' %}
                                <span><a href="{{ post.get_8kun_url }}" style="text-decoration: none">🔗kun</a></span>
                            {% endif %}
                            {% if post.platform == '8chan' and post.board == 'qresearch' %}
                                <span><a href="{{ post.get_8kun_url }}" style="text-decoration: none">🔗kun</a></span>
                            {% endif %}
                        </div>
                    </header>
                    <div style="padding: 12px; margin-top: -20px; margin-bottom: -20px">{{ post.body | markdown:post.links }}</div>
                </div>
            </article>
        {% endfor %}
    {% else %}
        <h1>This page is not archived!</h1>
        <h2>...Yet.</h2>
        <p>Go to archive.is: <a href="{{ request.path|get_archive_link }}">{{ request.path|get_archive_link }}</a></p>
    {% endif %}
{% endblock %}
