{% load filters %}
{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">
<body style="margin:0; background-color:#EEEEEE">
{% if posts %}
    <center>
        <div id="SOLID" style="background-color:#EEEEEE;padding-bottom:15px">
            <div id="CONTENT"
                 style="background-color:white;position:relative;border:2px #999999 solid;margin:0px -2px;width:1024px;min-height:768px">
                <div class="html1"
                     style="width: 1024px;text-align: left;overflow-x: auto;overflow-y: visible; background-color: rgb(238, 242, 255); background-repeat: repeat-x; background-size: auto auto; background-position: 50% 0%;position: relative;min-height: 105568px;; z-index: 0">
                    <div class="html" style="text-align:left;overflow-x:visible;overflow-y:hidden;">
                        <div class="body"
                             style="vertical-align:bottom;min-height:105538px;text-align:left;color:black;font-family:arial, helvetica, sans-serif;font-size:10pt;padding-left:4px;padding-right:4px;padding-top:20px;overflow-x:visible;overflow-y:visible;background-position: 50% 0%; background-repeat: repeat-x; margin: 0px 4px; ">
                            <article
                                    style="display: block; font-family: helvetica neue, Helvetica, Arial, sans-serif; font-size: 13px; line-height: 18px">
                                {% for post in posts %}
                                    <article id="{{ post.post_id }}" style="margin: 0 5px 3px 16px; display: block">
                                        <div style="display: table-cell;
                            padding: 4px 4px 10px 10px;
                            background: rgb(214, 218, 240);
                            border-bottom: 1px solid #ccc;">
                                            <header>
                                                <div style="padding: 0 6px 0 0;">
                                                    <span style="font-weight: 700; color: #117743;">{{ post.author }}</span>
                                                    {% if post.tripcode %}
                                                        <span class="trip">{{ post.tripcode }}</span>
                                                    {% endif %}
                                                    <span>{{ post.subject }}</span>
                                                    <span>{{ post.timestamp }}</span>
                                                    <span><a href="#{{ post.post_id }}">No.{{ post.post_id }}</a></span>
                                                </div>
                                            </header>
                                            <div style="padding: 12px; margin-top: -20px; margin-bottom: -20px">{{ post.body | markdown:post.links }}</div>
                                        </div>
                                    </article>
                                {% endfor %}
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </center>
{% else %}
    <p>No threads are available.</p>
{% endif %}
</body>