{% load filters %}
{% load tz %}
<article id="{{ post.post_id }}" class="article">
    <div style="padding-left: 20px; position: relative">
        <div style="position: absolute; bottom: 0; left: 0; height: calc(100% - 25px); margin-left: 5px; width: 16px; display: inline-block">
            <i style="border-right: 2px solid #edeff1; display: block; height: 100%; width: 50%;"></i>
        </div>
        <div class="header">
            <a href="/u/{{ post.author }}"
               style="color: unset; text-decoration: unset"><strong>{{ post.author }}</strong></a>
            <small style="color: rgb(120, 124, 126);">· {{ post.timestamp }}</small>
        </div>
        <div class="post-body" style="padding-bottom: 0; position: relative">
            {{ post.body | reddit_markdown }}
            <a class="stretched-link" href="{{ post.get_thread_url }}"></a>
        </div>
        <div style="font-weight: bold">
            ⇧
            {{ post.score }}
            ⇩
            &nbsp;
        </div>
        {% if '/u/' not in request.path %}
            {% for reply in post.replies %}
                {% include 'posts/reddit_post.html' with post=reply %}
            {% endfor %}
        {% else %}
            <a class="stretched-link" href="{{ post.get_thread_url }}"></a>
        {% endif %}
    </div>
</article>