{% extends 'posts/base.html' %}
{% load humanize %}
{% load filters %}
{% load static %}
{% block head_extras %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
{% endblock %}
{% block content %}
    <h4>/u/{{ username }}</h4>
    {% if post_list %}
        <p>{{ total_posts | intword | intcomma }} total posts archived.</p>
        <br/>
        <h5>Domains linked by /u/{{ username }}:</h5>
        <table>
            <thead>
            <tr>
                <th class="px-1">Domain</th>
                <th class="px-1">Count</th>
            </tr>
            </thead>
            <tbody>
            {% for domain in domain_counts %}
                <tr>
                    <td class="px-1"><a href="?domain={{ domain.domain }}">{{ domain.domain }}</a></td>
                    <td class="px-1">{{ domain.count }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
    <br/>
    {% if post_list %}
        {% for post in post_list %}
            <div class="card py-2 my-2">
                <a class="stretched-link" href="{{ post.get_thread_url }}"></a>
                {% if post.is_op %}
                    {% include 'posts/reddit_op.html' %}
                {% else %}
                    {% include 'posts/reddit_post.html' %}
                {% endif %}
            </div>
        {% endfor %}
    {% else %}
        <p>No posts found.</p>
    {% endif %}
    {% if post_list.has_other_pages and paginate %}
        <ul class="pagination justify-content-center flex-wrap mt-2 mb-4">
            {% if post_list.has_previous %}
                <li class="page-item"><a class="page-link"
                                         href="{% url_replace request 'page' post_list.previous_page_number %}">&laquo;</a>
                </li>
            {% else %}
                <li class="disabled page-item"><span class="page-link">&laquo;</span></li>
            {% endif %}
            {% for i in page_range|default_if_none:post_list.paginator.get_elided_page_range %}
                {% if post_list.number == i %}
                    <li class="active page-item"><span class="page-link">{{ i }}</span>
                    </li>
                {% else %}
                    {% if i == thread_list.paginator.ELLIPSIS %}
                        <li class="page-item"><span class="page-link">{{ i }}</span></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="{% url_replace request 'page' i %}">{{ i }}</a>
                        </li>
                    {% endif %}
                {% endif %}
            {% endfor %}
            {% if post_list.has_next %}
                <li class="page-item"><a class="page-link"
                                         href="{% url_replace request 'page' post_list.next_page_number %}">&raquo;</a>
                </li>
            {% else %}
                <li class="disabled page-item"><span class="page-link">&raquo;</span></li>
            {% endif %}
        </ul>
    {% endif %}
{% endblock %}