{% load filters %}
{% load tz %}
{% load embed_video_tags %}
<article id="{{ post.link_id }}" class="article">
    <br/>
    <div style="padding: 8px 0 0 40px; position: relative">
        <div style="position: absolute; top: 0; left: 0; padding: 8px 4px 8px 0; font-weight: bold">
            <div style="display: flex; align-items: center; flex-direction: column">
                <div>⇧</div>
                <div>{{ post.score }}</div>
                <div>⇩</div>
            </div>
            &nbsp;
        </div>
        <div>
            <div>
                <strong><a href="/r/{{ post.subreddit.name }}"
                           style="color: inherit; text-decoration: inherit">r/{{ post.subreddit.name }}</a></strong>
                <small style="color: rgb(120, 124, 126);">• Posted by
                    <a href="/u/{{ post.author }}" style="color: unset; text-decoration: unset">u/{{ post.author }}</a>
                    on {{ post.timestamp }}</small>
            </div>
            <div style="padding-top: 8px">
                <h5>{{ post.subject }}</h5>
            </div>
            <div class="post-body">{{ post.body | reddit_markdown }}</div>
            {% if post.post_hint == 'image' %}
                <img src="{{ post.url }}" alt="{{ post.subject }}" class="rounded" style="width: 100%;"/>
            {% elif 'video' in post.post_hint %}
                {% video post.url "large" %}
            {% else %}
                <a href="{{ post.url }}">{{ post.url }}</a>
            {% endif %}
        </div>
        {% if '/u/' in request.path %}
            <a class="stretched-link" href="{{ post.get_thread_url }}"></a>
        {% endif %}
    </div>
    {% for reply in post.replies %}
        {% include 'posts/reddit_post.html' with post=reply %}
    {% endfor %}
</article>