{% load filters %}
{% load tz %}
<article id="{{ post.post_id }}" class="article">
<br />
    <div style="display: inline-block">
        <div class="header">
            <strong>{{ post.author }}</strong>
            &nbsp;
            {{ post.timestamp }}
        </div>
        <div class="post-body">{{ post.body | reddit_markdown }}</div>
        <div>
            ⇧
            {{ post.score }}
            ⇩
            &nbsp;
        </div>
    </div>
    {% for reply in post.replies %}
        {% include 'posts/reddit_post.html' with post=reply %}
    {% endfor %}
</article>