{% extends 'posts/base.html' %}
{% load static %}
{% block content %}
    {% if subreddit_name %}
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/reddit">r</a></li>
                <li class="breadcrumb-item"><a href="/r/{{ subreddit_name }}">{{ subreddit_name }}</a></li>
            </ol>
        </nav>
    {% endif %}
    <div class="btn-group mt-2 mb-4" role="group" aria-label="Sort order">
        <input type="radio" class="btn-check" name="btnradio" id="top" autocomplete="off"
               onclick="parent.location='?sort=top'" {% if sort == 'top' %}checked{% endif %}>
        <label class="btn btn-outline-primary" for="top">Top - All Time</label>

        <input type="radio" class="btn-check" name="btnradio" id="newest" autocomplete="off"
               onclick="parent.location='?sort=newest'" {% if sort == 'newest' %}checked{% endif %}>
        <label class="btn btn-outline-primary" for="newest">Newest</label>

        <input type="radio" class="btn-check" name="btnradio" id="oldest" autocomplete="off"
               onclick="parent.location='?sort=oldest'" {% if sort == 'oldest' %}checked{% endif %}>
        <label class="btn btn-outline-primary" for="oldest">Oldest</label>
    </div>
    {% if thread_list %}
        <table class="table">
            {% for thread in thread_list %}
                <div class="card mb-2 pb-2 mx-lg-5 px-3 col-xl-10" style="position: relative">
                    {% include 'posts/reddit_op.html' with post=thread %}
                </div>
            {% endfor %}
        </table>
    {% else %}
        <p>No threads are available.</p>
    {% endif %}
    {% if thread_list.has_other_pages %}
        <ul class="pagination justify-content-center flex-wrap mt-2 mb-4">
            {% if thread_list.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ thread_list.previous_page_number }}{% if sort != 'top' %}&sort={{ sort }}{% endif %}">&laquo;</a>
                </li>
            {% else %}
                <li class="disabled page-item"><span class="page-link">&laquo;</span></li>
            {% endif %}
            {% for i in page_range|default_if_none:thread_list.paginator.get_elided_page_range %}
                {% if thread_list.number == i %}
                    <li class="active page-item"><span class="page-link">{{ i }}</span>
                    </li>
                {% else %}
                    {% if i == thread_list.paginator.ELLIPSIS %}
                        <li class="page-item"><span class="page-link">{{ i }}</span></li>
                    {% else %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ i }}{% if sort != 'top' %}&sort={{ sort }}{% endif %}">{{ i }}</a>
                        </li>
                    {% endif %}
                {% endif %}
            {% endfor %}
            {% if thread_list.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ thread_list.next_page_number }}{% if sort != 'top' %}&sort={{ sort }}{% endif %}">&raquo;</a>
                </li>
            {% else %}
                <li class="disabled page-item"><span class="page-link">&raquo;</span></li>
            {% endif %}
        </ul>
    {% endif %}
{% endblock %}
{% block extra_scripts %}
    <script src="{% static 'js/replace-chan-links.js' %}"></script>
{% endblock %}