{% load filters %}
{% load tz %}
{% load embed_video_tags %}
<article id="{{ post.link_id }}" class="article">
    <br/>
    <div style="padding: 8px 0 0 40px; position: relative">
        <div style="position: absolute; top: 0; left: 0; padding: 8px 4px 8px 0; font-weight: bold">
            <div style="display: flex; align-items: center; flex-direction: column">
                <div>⇧</div>
                <div>{{ post.score }}</div>
                <div>⇩</div>
            </div>
            &nbsp;
        </div>
        <div>
            <div>
                {% if '/r/' in request.path and '/comments/' not in request.path %}
                    {# Don't show the subreddit #}
                {% else %}
                    <strong><a href="/r/{{ post.subreddit.name }}"
                               style="color: inherit; text-decoration: inherit">r/{{ post.subreddit.name }}</a></strong>
                {% endif %}
                <small style="color: rgb(120, 124, 126);">
                    {% if '/r/' in request.path and '/comments/' not in request.path %}{% else %}• {% endif %}
                    Posted by
                    <a href="/u/{{ post.author }}" style="color: unset; text-decoration: unset">u/{{ post.author }}</a>
                    on {{ post.timestamp }}</small>
            </div>
            <div style="padding-top: 8px">
                <h5>{{ post.subject }}</h5>
            </div>
            <div class="post-body">
                {% if '/comments/' not in request.path %}
                    {{ post.body | reddit_markdown | truncatewords_html:100 }}
                {% else %}
                    {{ post.body | reddit_markdown }}
                {% endif %}
            </div>
            {% if '.jpg' in post.url or '.png' in post.url or '.jpeg' in post.url %}
                <img src="{{ post.url }}" alt="{{ post.subject }}" class="rounded"
                     style="max-width: 100%; {% if '/comments/' not in request.path %}max-height: 60vh{% endif %}"/>
            {% elif 'video' in post.post_hint %}
                {% video post.url "medium" %}
            {% elif post.post_hint != 'self' and 'https://www.reddit.com/r/' not in post.url %}
                <div style="position: relative; z-index: 100">
                    {% if '/comments/' not in request.path %}
                        <a target="_blank" href="{{ post.url }}">{{ post.url | truncatechars:45 }}</a>
                    {% else %}
                        <a target="_blank" href="{{ post.url }}">{{ post.url }}</a>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>
    {% for reply in post.replies %}
        {% include 'posts/reddit_post.html' with post=reply %}
    {% endfor %}
    {% if '/comments/' not in request.path %}
        <a class="stretched-link" href="{{ post.get_thread_url }}"></a>
    {% endif %}
</article>