{% load filters %}
{% load tz %}
<div>
    <div class="card shadow-sm p-2{% if '/search/' not in request.path %} mb-2{% endif %}"
         style="display: inline-block">
        <article id="{{ post.post_id }}" class="article">
            <dt style="font-weight: unset; line-height: 1.5em;">{{ post.post_id }} ：
                <span style="color: green">
                <b>{{ post.author }}</b>
                    {% if post.tripcode %}◆{{ post.tripcode }}{% endif %}
                    {% if post.capcode %}<b>{{ post.capcode }} ★</b>{% endif %}
                    {% if post.email %}[{{ post.email }}]{% endif %}
                </span>
                ：{% if post.timestamp %}&nbsp;{{ post.timestamp | jp_date }}{% endif %}
                {% if post.author == 'うふ〜ん' or post.author == 'うふーん' or post.author == 'あぼーん' or post.author == 'あは〜ん' %}
                    {{ post.author }}{% endif %}
                {% if post.poster_hash %}ID:
                    <a style="text-decoration: unset; color: unset"
                       href="?poster_hash={{ post.poster_hash | urlencode }}">
                    <span style="background-color: {{ post.poster_hash|pastelize }}; border-radius: 8px; padding: 1px 5px; color: {{ post.poster_hash|pastelize|contrast_text }}">{{ post.poster_hash }}</span>{% endif %}
                </a>
            </dt>
            <dd>{{ post.body | escape | urlize | textboard_backlinks | linebreaksbr }}<br/></dd>
        </article>
    </div>
</div>