{% extends 'posts/base.html' %}
{% load filters %}
{% load static %}
{% block head_extras %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
{% endblock %}
{% block content %}
    {% if posts %}
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">All</a></li>
                <li class="breadcrumb-item"><a href="/{{ platform_name }}">{{ platform_name }}</a></li>
                <li class="breadcrumb-item"><a
                        href="/{{ platform_name }}/{{ board_name }}">{{ board_name }}</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ posts.0.post_id }}</li>
            </ol>
        </nav>
        {% for post in posts %}
            {% include 'posts/post.html' %}
        {% endfor %}
    {% else %}
        <div class="text-center pt-2">
            <h4>This page is not archived!</h4>
            <h5>...Yet.</h5>
            <p>Try archive.is: <a
                    href="{{ request.path|get_archive_link }}">{{ request.path|get_archive_link }}</a>
            </p>
            <p>Or 8kun: <a
                    href="{{ request.path|get_8kun_link }}">{{ request.path|get_8kun_link }}</a>
            </p>
        </div>
    {% endif %}
{% endblock %}
{% block extra_scripts %}
    <script src="{% static 'js/mark.es6.min.js' %}"></script>
    <script>
      window.addEventListener('DOMContentLoaded', function (e) {
        let posts = document.getElementById('main-content')
        let marker = new Mark(posts)
        let options = {
          'separateWordSearch': false,
          'accuracy': {
            'value': 'exactly',
            'limiters': [',', '.', '#', '\'', '\"']
          },
          'element': 'span',
          'className': 'definition'
        }
        for (const word of JSON.parse('{{ definitions | escapejs }}')) {
          options['each'] = function (el) {
            let content = `<span class="d-flex justify-content-center mb-2"><span class="badge rounded-pill bg-secondary">${word.category}</span></span>${word.definition}<br/><a href="${word.report}" target="_blank"><small>See more at ChanScan</small>`
            let popover = new bootstrap.Popover(el, {
              container: 'body',
              trigger: 'hover click',
              content: content,
              sanitize: false,
              html: true,
              placement: 'bottom'
            })
          }
          marker.mark(word.word, options)
        }
      }, false)
    </script>
{% endblock %}
