{% extends 'posts/base.html' %}
{% load filters %}
{% load static %}
{% block head_extras %}
    <link rel="stylesheet" href="{% static 'style.css' %}">

    <meta name="twitter:title"
          content="dChan - {{ platform_name }} /{{ board_name }}/ - '{{ posts.0.subject }}'">
    <meta name=" twitter:description" content="{{ posts.0.body | truncatechars:200 }}">

    <meta name="og:title"
          content="dChan - {{ platform_name }} /{{ board_name }}/ - '{{ posts.0.subject }}'">
    <meta name=" og:description" content="{{ posts.0.body | truncatechars:200 }}">
{% endblock %}
{% block content %}
    {% if posts %}
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">All</a></li>
                <li class="breadcrumb-item"><a href="/{{ platform_name }}">{{ platform_name }}</a></li>
                <li class="breadcrumb-item"><a
                        href="/{{ platform_name }}/{{ board_name }}">{{ board_name }}</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ posts.0.post_id }}</li>
            </ol>
        </nav>
        {% for post in posts %}
            {% include 'posts/post.html' %}
        {% endfor %}
    {% else %}
        <div class="text-center pt-2">
            <h4>This page is not archived!</h4>
            <h5>...Yet.</h5>
            <p>Try archive.is: <a
                    href="{{ request.path|get_archive_link }}">{{ request.path|get_archive_link }}</a>
            </p>
            <p>Or 8kun: <a
                    href="{{ request.path|get_8kun_link }}">{{ request.path|get_8kun_link }}</a>
            </p>
        </div>
        <figure class="figure">
            <figcaption class="figure-caption">
                Art by <a href="https://twitter.com/dark_sparce" target="_blank">@dark_sparce</a> (NSFW)
            </figcaption>
            <img src="{% static 'img/dChan_404.png' %}" class="img-fluid rounded-3"
                 alt="Fred the Raccoon fishing in a boat">
        </figure>
    {% endif %}
{% endblock %}
{% block extra_scripts %}
    {#    <script src="{% static 'js/mark.es6.min.js' %}"></script>#}
    {#    <script>#}
    {#      window.addEventListener('DOMContentLoaded', function (e) {#}
    {#        const definitions = JSON.parse('{{ definitions | escapejs }}')#}
    {#        let observerOptions = {#}
    {#          threshold: 0.01#}
    {#        }#}
    {#        let observer = new IntersectionObserver(intersectionCallback, observerOptions)#}
    {##}
    {#        let posts = Array.from(document.getElementsByClassName('post-body'))#}
    {#        for (const post of posts) {#}
    {#          observer.observe(post)#}
    {#        }#}
    {#        function intersectionCallback(entries, observer, header) {#}
    {#          entries.forEach((entry, i) => {#}
    {#            if (entry.isIntersecting) {#}
    {#              processDefinitions(entry.target)#}
    {#            }#}
    {#          })#}
    {#        }#}
    {#        function processDefinitions(post) {#}
    {#          console.log('Processed definitions for a post')#}
    {#          let marker = new Mark(post)#}
    {#          let options = {#}
    {#            'separateWordSearch': false,#}
    {#            'accuracy': {#}
    {#              'value': 'exactly',#}
    {#              'limiters': [',', '.', '!', '?', '#', '\'', '\"', ':', '(', ')', '[', ']', '{', '}']#}
    {#            },#}
    {#            'element': 'span',#}
    {#            'className': 'definition'#}
    {#          }#}
    {#          for (const word of definitions) {#}
    {#            options['each'] = function (el) {#}
    {#              let content = `<span class="d-flex justify-content-center mb-2"><span class="badge rounded-pill bg-secondary">${word.category}</span></span>${word.definition}<br/><a href="${word.report}" target="_blank"><small>See more at ChanScan</small>`#}
    {#              let popover = new bootstrap.Popover(el, {#}
    {#                container: 'body',#}
    {#                trigger: 'hover click',#}
    {#                content: content,#}
    {#                sanitize: false,#}
    {#                html: true,#}
    {#                placement: 'bottom'#}
    {#              })#}
    {#            }#}
    {#            marker.mark(word.word, options)#}
    {#          }#}
    {#          observer.unobserve(post)#}
    {#        }#}
    {#      }, false)#}
    {#    </script>#}
{% endblock %}
